.dark-mode {
    background-color: #171c28;
    color: #d0d0d0;
    // Link List
    .links-list__link a {
        &:hover {
            color: #d0d0d0;
        }
    }
    // Switch Icons
    .switch__icon {
        // color: #fafafa;
    }
    // Toggle Button
    .toggle-wrapper label {
        background-color: #bae67e;
        &::after {
            left: 22px;
            background-color: #fff;
        }
    }
}