// Main Style
.hamburger-menu {
    height: 100vh;
    position: fixed;
    background-color: rgba(0,0,0, 0.9);
    z-index: 5;
    top: 0;
    left: 0;
    justify-content: center;
    transition: .5s;
    width: 0;
    display: flex;
    overflow: hidden;
    &.active {
        width: 100%;
    }
    &__close-btn {
        font-size: 26px;
        position: absolute;
        top: 15px;
        left: -30px;
        display: block;
        cursor: pointer;
        transition: .4s;
    }
    &.active &__close-btn {
        left: 35px;
    }
    &__links-list {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }
    &__link a {
        padding: 8px;
        font-size: 22px;
        color: #818181;
        transition: .3s;
        &:hover, &.active {
            color: #f1f1f1;
        }
    }
}

// Dark Mode Style
.dark-mode .links-list__link a {
    &:hover {
        color: #d0d0d0;
    }
}