.skills-list {
    line-height: 1.5;
    &__title {
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 12px;
    }
    &__element {
        margin: 3px 0;
        font-size: .9rem;
        opacity: .7;
    }
}

@media only screen and (max-width: 630px) {
    .skills-list {
        width: 47%;
        margin-right: 5px;
        margin-bottom: 25px;
        &:last-child {
            width: 100%;
        }
    }
}

@media only screen and (max-width: 768px) {
    .skills-list {
        &__title {
            margin-bottom: 7px;
        }
    }
}