.light-mode {
    color: #444452;
    .toggle-btn {
        background: grey;
        &::after {
            background: #fff;
        }
    }
    .hamburger-icon {
        opacity: .5;
        &:hover {
            opacity: 1;
        }
    }
    .hamburger-menu__link a {
        &:hover, &.active {
            color: #f1f1f1;
        }
    }
    .header__btn {
        background-color: #444452;
        border-color: #34343a;
        &:hover {
            background-color: transparent;
            color: #34343a;
        }
    }
    .skills-list__title {
        color: #36363c;
    }
}